* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  padding: 100px;
  height: auto;
  color: #456475;
}

input {
  color: #456475;
  font-size: 1.3rem;
  width: 100%;
}