* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: black;
}

body {
  height: auto;
  color: #b0b5b8;
}

input {
  color: #456475;
  border: 1px solid rgb(6, 6, 231);
  font-size: 1rem;
  width: 100%;
  margin: 10px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid rgb(6, 6, 231);
  border-radius: 6px;
  margin-bottom: 10px;
  overflow: hidden;
}

.card p {
  text-align: center;
}

.card img {
  max-height: 170px;
  width: 300px;
}
